*~
**/obj
**/tags
**/*.d
**/*.o

**/*.pem
**/*.key
**/*.conf

**/parse.c
**/parse.h

**/Makefile
**/*.in
**/.deps
**/.dirstamp

aclocal.m4
autom4te.cache
config.h
config.log
config.status
configure
etc
stamp-h1

kamictl/kamictl
kamid/kamid
kamiftp/kamiftp
kamirepl/kamirepl
ninepscript/ninepscript

site/*.[1-9].html
site/*.[1-9].txt
