Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h.in
configure
depcomp
install-sh
missing
ylwrap
stamp-h1
config.status
config.log
config.h
.deps

compile_flags.txt

kamid
kamictl
*.o
kamid.conf
parse.c
